@media (max-width: 1200px) {
    .main {
        padding-right: 0px!important;
    }
    .aside {
        flex: 0 0 100%;
        max-width: 100%;
        justify-content: space-between;
    }
    .aside-sticky {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 15px;
    }
    .world-weather-wrapper {
        flex-wrap: wrap;
    }
}  

@media (max-width: 1000px) {

}

@media (max-width: 768px) {
    .main {
        padding-right: 0px!important;
    }
    .aside {
        flex: 0 0 100%;
        max-width: 100%;
        justify-content: space-between;
    }
    .aside-sticky {
        flex-wrap: nowrap;
    }
    .weather-now-uv, .weather-now-holiday {
        flex-basis: 49%;
        margin-bottom: 15px;
    }

    .menu {
        margin-left: -15px;
        margin-right: -15px;
    }
    .weather-container {
        display: none;
    }
    .btn-settings {
        right: 35px;
    }
    .top-menu-search {
        top: 60px;
        right: 0;
        z-index: 20;
    }
    .search-input {
        width: 100% !important;
    }
    .logo-header {
        width: 70px;
        height: 31px;
        margin-top: 3px;
        margin-bottom: 10px;
    }
    .logo {
        margin-right: 20px;
    }
    .main-rec {
        display: none;
    }
    .breadcrumbs-box {
        margin-top: 25px;
    }
    .ws-details-item {
        margin-bottom: 10px;
    }
    .forecast-menu, .forecast-menu-wrapper {
        flex-wrap: wrap;

    }
/*     .forecast-menu-item-alert {
        display: none;
    } */
    .forecast-menu-item-alert-aside {
        display: block;
        position: absolute;
        top: 50px;
        right: 0;
    }
    .box-history-card-item {
        flex-basis: 33%;
    }
    h4.box-header {
        font-size: 24px;
        line-height: 33px;
        
        margin-bottom: 20px;
    }

    h3.forecast {
        font-size: 28px;
        line-height: 38px;
    }
    .forecast-box .arrow {
        display: none;
    }
    .hourly-header {
        margin-top: 15px;
    }
    .hourly-info {

        padding: 6px 20px 6px 23px;
    }
    .wind-orange, .wind-brown, .wind-red {
        width: 190px;
        left: 3px;
    }
    .history-date-block {
        margin-top: 60px;
    }
    .days-wind-orange, .days-wind-red, .days-wind-brown {
        width: 195px;
        left: 0;
    }
    .days-collapse {
        font-size: 24px;
        line-height: 33px;
    }

    .footer-main-content-1 {
        flex-basis: 35%;
    }
    .footer-main-content-2 {
        flex-basis: 27%;
    }
    .footer-main-content-3 {
        flex-basis: 32%;
    }
    .footer-aside-content {
        flex-wrap: wrap;
    }
    .oops-img {
        max-width: 200px;
        margin-right: 40px;
    }
    .oops-text p {
        font-size: 22px;
        line-height: 28px;
    }
    .oops-text p.oops-text__header {
        font-size: 32px;
        line-height: 44px;
    } 
    .oops-text a {
        font-size: 14px;
        line-height: 22px;
        margin-top: 18px;
    }
    .oops-text a img {
        width: 25px;
    }
}

@media (max-width: 615px) {
    .aside-sticky {
        flex-wrap: wrap;
    }
    .weather-now-uv, .weather-now-holiday {
        flex-basis: 100%;
        margin-bottom: 15px;
    }
}

@media (max-width: 576px) {
    .burger-group {
        display: none;
    }
    .top-menu-search {
        top: 53px;
        right: 0;
        z-index: 20;
    }
    .search-input {
        width: 100% !important;
    }
    .breadcrumbs-box {
        margin-top: 50px;
    }
    .breads {
        background-color: #E5E5E5;
        padding: 0 0 15px 0;
        margin-bottom: 15px;
    }
    .weather-now-city {
        padding: 15px 10px 15px;
    }
    .weather-summary {
        flex-wrap: wrap;
    }
    .weather-summary-details {
        margin-top: 20px;
    }
    .weather-widget-icon img {
        width: 86px;
        height: 57px;
    }
    .weather-widget-icon p {
        font-size: 20px;
        line-height: 27px;
        padding-top: 8px;
    }
    .weather-widget-temperature {
        font-size: 36px;
        line-height: 49px;
    }
    .weather-widget-temperature span {
        position: absolute;
        top: 10px;
        right: -21px;
        font-size: 20px;
        line-height: 27px;
    }
    .rise {
        margin-right: 30px;
    }
    .weather-summary-hr {
        margin-right: 0;
    }
    .weather-text {
        font-size: 14px;
        line-height: 22px;
        margin-top: 17px;
    }
    .weather-hour-more {
        display: none;
    }
    .weather-hour-item {
        width: 67px;
    }
    .weather-now-uv, .weather-now-holiday {
        flex-basis: 100%;
    }
    .forecast-menu-item-alert-aside {
        display: none;
    }
/*     .forecast-menu-item-alert {
        display: block;
        order: 1;
    } */
    .forecast-menu-item {
        min-width: 69px;
        min-height: 32px;
        padding: 3px 8px;
        
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 5px;
    }
    .forecast-graph-item {
        padding: 0 3px;
    }

    h3.forecast {
        font-size: 20px;
        line-height: 27px;
        margin-top: 19px;
        margin-bottom: 19px;
    }
    .head2 {
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        
    }
    h4.box-header {
        font-size: 18px;
        line-height: 25px;
        
    }
    h5.holiday-header {
        font-size: 16px;
        line-height: 22px;

        margin-bottom: 15px;
    }
    a.blog-link {
        display: block;
        font-size: 16px;
        line-height: 22px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .box-history-card-item {
        flex-basis: 50%;
    }
    .report-text {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 15px;
    }
    .report-text:last-child {
        margin-bottom: 0;
    }
    #chart2-container, #chart-container {
        overflow: hidden;
    }
    h3.graph-title {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 7px;
    }
    .graph-subtitle {
        position: relative;
        font-size: 14px;
    }
    p.box-text {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 30px;
    }
    .hourly-header {
        font-size: 20px;
        line-height: 27px;
    }
    .hourly-sub-header {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 20px;
    }
    .hourly-info {
        flex-wrap: wrap;
        padding: 6px 10px;
    }
    .hourly-info-item {
        display: flex;
        flex-basis: 100%;
        gap: 0;
    }
    .hourly-info-item-cont {
        flex-basis: 50%;
    }

    .hourly-details {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .history-date-block {
        margin-top: 20px;
        flex-direction: column;
    }
    .history-date-item {
        margin-top: 10px;
    }
    .days-header {
        font-size: 20px;
        line-height: 27px;
        color: #222222;
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .days-details-row-header-item:nth-child(1) {
        padding-left: 10px;
    }
    .days-details-row-item:first-child {
        padding-left: 10px;
        min-width: 95px;
    }
    .days-comment {
        margin-left: 0px;
    }
    .days-temp {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
       margin-left: 0px;
    }
    .days-collapse {
        font-size: 20px;
        line-height: 27px;
        display: flex;
        flex-wrap: wrap;

    }
    .days-collapse-date {
        flex-basis: 49%;
        order: 1;
    }
    .days-collapse-temp {
        flex-basis: 49%;
        order: 3;
    }
    .days-collapse-forecast {
        flex-basis: 40%;
        order: 4;
        text-align: left;
    }
    .days-collapse-img {
        flex-basis: 40%;
        order: 2;
    }
    .days-inform {
        flex-wrap: wrap;
    }
    .days-magnet {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .forecast-card .slick-list {
        margin-right: 0px;
    }
    .forecast-graph .slick-list {
        margin-right: 0px;
    }
    .weather-hour-table .slick-list {
        margin-right: 0px;
    }


    .footer-copyright {
        flex-direction: column;
    }
    .footer-aside-content {
        flex-wrap: nowrap;
    }
    .footer-main-content {
        flex-wrap: wrap;
    }
    h3.footer-header {
        font-size: 16px;
        line-height: 22px;
    }
    .footer-main-content-1 {
        flex-basis: 100%;
        justify-content: center;
        margin-bottom: 20px;
    }
    .logo-footer {
        margin: 0 auto;
        margin-top: -5px;
    margin-bottom: 20px;
    }
    .footer-img-shop {
        margin: 0 auto;
        margin-bottom: 14px;
        display: block;
    }
    .footer-main-content-2 {
        flex-basis: 50%;
    }
    .footer-main-content-3 {
        flex-basis: 50%;
    }
    .footer-aside-content-1 {
        flex-basis: 50%;
    }
    .footer-aside-content-2 {
        flex-basis: 50%;
    }

    .three-days-cards {
        flex-wrap: wrap;
    }
    .day-card.next-day {
        width: 100%;
    }
    .day-card.today {
        display: none;
    }
    .day-card.today-responsive {
        display: block;
        width: 100%;
    }
    .today-temp-forecast {
        width: auto;
    }
    .world-weather-cards {
        display: none;
    }
    .sport-weather-row {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .sport-weather-row:first-child {
        display: none;
    }
    .sport-weather-match {
        display: flex;
        flex-wrap: wrap;
        align-items: start; 
        width: 100%;
        flex-direction: column;
        margin-bottom: 15px;
    }
    .sport-weather-match img {
        margin-bottom: 12px;
    }
    .sport-weather-date {
        width: 100%;
        text-align: left;
        margin-bottom: 15px;
    }
    .sport-weather-forecast {
        width: auto;
    }
    .top-dest {
        height: 370px;
    }
}

@media (max-width: 470px) {
    .world-weather-map {
        min-width: 100%;
    }
    .modal-alert__issues {
        max-height: fit-content;
    }
    .oops-img {
        max-width: 100px;
        margin-right: 20px;
    }
    .oops-text p {
        font-size: 18px;
        line-height: 22px;
    }
    .oops-text p.oops-text__header {
        font-size: 24px;
        line-height: 28px;
    } 
    .oops-text a {
        font-size: 12px;
        line-height: 16px;
        margin-top: 14px;
    }
    .oops-text a img {
        width: 20px;
    }
}

@media (max-width: 320px) {
    .top-dest {
        height: auto;
    }
}

@media (max-width: 320px) {
    ul.top-menu {
        margin-top: 50px;
    }
    
}