body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #222222;
    background-color: #E5E5E5;
    text-align: left;
}
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 1000;
}
.btn-btt {
    background-color: #4D9335;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 0;
    padding-bottom: 5px;
}
.btt {
    width: 19px;
    height: 24px;
}
p {
    margin-bottom: 0;
}
section {
    margin-bottom: 3px;
}
.w1170 {
    position: relative;
    max-width: 1170px;
    padding: 0;
}
.menu-container {
    background-color: #353A3E;
}
.logo-header {
    width: 104px;
    height: 40px;
    margin-top: 1px;
    margin-bottom: 7px;
}
.weather-container {
    background-color: #fff;
}
.box {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 25px 21px;
    margin-bottom: 17px;
}
.box-rec {
    display: grid;
    place-content: center;
    min-height: 100px;
}
.menu {
    background-color: #353A3E;
    padding: 0;
}
.logo {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 2rem;
}
.top-menu-item {
    font-size: 14px;
    line-height: 19px;
    padding-right: 20px;
}
.top-menu-link {
    color: #FFFFFF;
}
.top-menu-link:hover {
    color: #9a9a9a;
}
.settings {
    padding-right: 10px;
}
.btn-settings {
    position: absolute;
    top: 12px;
    right: 415px;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0px 0px;
}
.search-input {
    font-size: 14px;
    line-height: 19px;
    color: #222222;
    width: 352px !important;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    background-image: url(../img/search-icon.svg);
    background-repeat: no-repeat;
    background-position: right 12px center;
}
.search-input::placeholder {
    color: #9A9A9A;
  }
.top-toggler, .top-toggler:active {
    padding: 0;
    border: 1px solid transparent;
}
.top-toggler:active, .top-toggler:focus, .top-toggler:focus-visible,
.btn-settings:active, .btn-settings:focus, .btn-settings:focus-visible {
    box-shadow: none;
    outline: none;
}
.burger {
    padding-left: 30px;
}
.settings-body {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 604px;
    height: 198px;
    background: #FFFFFF;
    box-shadow: 0px 15px 15px rgba(53, 58, 62, 0.1);
    border-radius: 5px;
    padding: 20px 40px;
}
.settings-body-item {
    margin-right: 50px;;
}
.sett {
    font-size: 14px;
    line-height: 19px;
    color: #9A9A9A;
    margin-bottom: 10px;
}
.sett-btn {
    background: #F2F2F2;
    width: 61px;
    height: 40px;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #9A9A9A;
    border: none;
}
.sett-btn-primary {
    background: #4D9335;
    color: #FFFFFF;
}
.sett-btn-primary:not(:disabled):not(.disabled).active:focus, 
.sett-btn-primary:not(:disabled):not(.disabled):active:focus {
    border: 1px solid transparent;
}

.sett-btn:active, .sett-btn:focus, .sett-btn:hover, 
.curr-lang:active, .curr-lang:focus, .curr-lang:hover, 
.sett-btn:not(:disabled):not(.disabled).active, 
.sett-btn:not(:disabled):not(.disabled):active {
    border: 0;
    box-shadow: none;
    border: 1px solid transparent;
    background-color: #4D9335;
}
.curr-lang::after {
    display: inline-block;
    content: "";
    background-image: url(../img/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 12px center;
}

.top-menu-search {
    position: absolute;
    top: 10px;
    right: 63px;
}
input[type="search"]::-ms-clear {
    display: none;
  }
input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
.weather-menu {
    padding: 0;
}
.weather-menu-link {
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 19px;
    color: #1F1F1F;
    padding-top: 10px;
    padding-bottom: 7px;
}
.weather-menu-link:hover {
    color: #1F1F1F; 
}
.weather-menu-link:after {
    display: block;
	position: absolute;
    bottom: 0;
	left: 0; 
	width: 0;
	height: 1px; 
	background-color: #4D9335;
	content: "";
	transition: width 0.3s ease-out;
}
.weather-menu-link:focus:after, .weather-menu-link:hover:after, .weather-menu-link:active:after {
    width: 88%;
}
.navbar-expand .navbar-nav .weather-menu-link {
    padding-left: 0;
    padding-right: 28px;
}
.weather-icon {
    padding-left: 7px;
    padding-right: 10px;
}
.city-weather {
    background: #FFFFFF;
    box-shadow: 0px 15px 15px rgba(53, 58, 62, 0.1);
    border-radius: 5px;
    width: 205px;
    padding: 0;
    margin: 3px 0 0;
}
nav.navbar .dropdown:hover > .city-weather {
    display: block; 
} 
@media only screen and (max-device-width: 992px){
    nav.navbar .dropdown:hover .city-weather {
        display: none;
    }
}
.city-weather-item {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 11px 9px 7px 9px;
    font-size: 14px;
    line-height: 19px;
    color: #353A3E;

}
.weather-divider {
    margin: 0 9px;
}
.city-weather-more {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.city-time {
    width: 62%;
}
.city-temperature {
    width: 22%;
    font-weight: bold;
}
.city-weather-icon {
    width: 16%;
}


.main-rec {
    width: 100%;
    height: 100px;
    background-color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 25px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Breadcrumbs */
.breadcrumb-item + .breadcrumb-item::before {
    display: block;
    content: ' ';
    background-image: url('../img/bread.svg');
    background-size: 8px 13px;
    height: 13px;
    width: 8px; 
    margin-right: 10px;
    margin-top: 3px;
}
.breads {
    background-color: #E5E5E5; 
    padding: 0 0 24px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #9A9A9A; 
    font-size: 14px;
    line-height: 19px;
    color: #9A9A9A; 
    border-radius: 0;
}
.breadcrumb-item a {
    color: #9A9A9A; 
}
.breadcrumb-item.active {
    color: #9A9A9A; 
}

/* Aside box - UV Index */
.aside {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 0 0 25.7%;
    max-width: 25.7%;
}
.aside-sticky {
    position: sticky;
}
.head3 {
    font-size: 24px;
    line-height: 33px;
    color: #222222;
}
.weather-now-city {
    padding: 20px 22px 16px;
}
.weather-now-uv {
    padding: 23px 20px 24px;
    margin-bottom: 10px;
}
.progress {
    height: 16px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 19px;
    color: #9A9A9A;
    background-color: #fff;
}
.progress-bar {
    border-radius: 0 7px 7px 0;
}
.day-uv {
    width: 40px;
}
.uv-scale-hr {
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 9px;
    margin-bottom: 11px;
    border: 0;
    border-top: 1px solid rgba(34,34,34,.1);
}
.uv-scale-img {
    width: 245px;
    height: 31px;
}
.weather-now-holiday {
    padding: 23px 20px 18px;
    text-align: center;
}
.holiday-img {
    width: 242px;
    height: 84px;
}
.holiday {
    margin-top: 26px;
    margin-bottom: 0;
}

/* Box weather now */
.main {
    padding-right: 8px!important;
}
.head2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #353A3E;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(34,34,34,.1);
}
.weather-summary {
    display: flex;
    margin-top: 20px;    
}
.weather-summary-details {
    flex-grow: 1;
    flex-wrap: wrap;
}
.weather-widget {
    display: flex;
    position: relative;
    padding-top: 5px;
    margin-right: 104px;
}
.weather-widget-icon {
    margin-right: 22px;
}
.weather-widget-icon p {
    font-size: 24px;
    line-height: 33px;
    color: #222222;
    padding-top: 18px;
}
.weather-widget-temperature {
    font-size: 80px;
    line-height: 69px;
    letter-spacing: -0.065em;
    color: #222222;
}
.weather-widget-temperature span {
    position: absolute;
    top: 3px;
    right: -34px;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.065em;
    color: #222222;
}
.feels {
    font-size: 14px;
    line-height: 19px;
    color: #222222;
    opacity: 0.5;
    letter-spacing: 0.3px;
    padding-top: 8px;
}
.ws-details {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-right: 7px;
}
.wind-speed {
    background-color: #F19100;
    border-radius: 2px;
    color: #FFFFFF;
    padding: 1px 3px;
    margin-left: 2px;
    margin-right: 4px;
}
.wind-direction {
    display: inline;
    width: 42px;
    height: 23px;
    border: 1px solid #222222;
    box-sizing: border-box;
    border-radius: 50px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.wind-direction span.wind {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
    padding-left: 6px;
}
.wind-direction img {
    padding-left: 5px;
    padding-right: 8px;
    padding-bottom: 1px;
}
.ws-details-item span {
    font-weight: bold;
}
.rise-set {
    display: flex;
}
.weather-summary-hr {
    margin-right: -22px;
    margin-top: 5px;
    margin-bottom: 11px;
    border: 0;
    border-top: 1px solid rgba(34,34,34,.1);
}
.ws-details {
    font-size: 14px;
    line-height: 19px;
    color: #222222;
    padding-top: 3px;
}
.ws-details-hr {
    margin-top: 11px;
    margin-bottom: 16px;
    border: 0;
    border-top: 1px solid rgba(34,34,34,.1);
}
.rise-set {
    font-size: 12px;
    line-height: 16px;
    color: #222222;
}
.rise-set span {
    font-weight: bold;
    padding-left: 3px;
}
.rise-set p {
    margin-bottom: 10px;
}
.rise {
    margin-right: 49px;
}
.rise img {
    margin-left: 5px;
}
.weather-hour {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.weather-hour-table {
    display: flex;
    justify-content: space-between;
    flex-basis: 77%;
}
.weather-hour-item {
    text-align: center;
}
.weather-hour-more {
    flex-basis: 15%;
    padding-top: 26px;
    text-align: center;
}
.weather-hour-item {
    font-size: 14px;
    line-height: 19px;
    color: #343434;
}
.weather-hour-item p {
    margin-bottom: 10px;
}
.weather-hour-item img {
    margin-bottom: 5px;
}
.weather-hour-item p:last-child {
    font-size: 16px;
    line-height: 22px;
    color: #222222
}
.weather-text {
    font-size: 16px;
    line-height: 24px;
    color: #7A7A7A;
    margin-top: 17px;
}

/* Box Forecast */
.forecast-box {
    padding-top: 19px;
    padding-right: 10px;
}
.forecast-menu {
    display: flex;
    justify-content: space-between;
}
.forecast-menu-item {
    min-width: 69px;
    min-height: 32px;
    background-color: #FFFFFF;
    padding: 5px 10px;
    color: #4D9335;
    border: 1px solid #4D9335;
    border-radius: 2px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}
.forecast-menu-item:hover, 
.forecast-menu-item:active, 
.forecast-menu-item:focus {
    background-color: #4D9335;
    color: #FFFFFF;
    text-decoration: none;
}
.forecast-menu-item-active {
    background-color: #4D9335;
    color: #FFFFFF;
}
.forecast-menu-item-alert {
    background: #D74A4A;
    border: 1px solid #D74A4A;
    border-radius: 2px;
    padding: 6px 10px 7px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 19px;
}
.forecast-menu-item-alert:hover {
    color: #FFFFFF;
    background: #D74A4A;
}
h3.forecast {
    font-size: 32px;
    line-height: 44px;
    color: #222222;
    margin-top: 19px;
    margin-bottom: 19px;
}
.forecast-card {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-left: -21px;
    padding-top: 7px;
    padding-left: 12px;
    -webkit-overflow-scrolling: touch;
}
.forecast-link {
    display: block;
}
.forecast-link:hover {
    background-color: #F4F4F4;
    text-decoration: none;
}
.forecast-card-item {
    width: 135px;
    /*height: 106px;*/
    flex: 0 0 auto;
    border-right: 1px solid #F2F2F2;
    padding-bottom: 14px;
}
.forecast-card-item:last-child {
    border-right: 1px solid transparent;
}
.forecast-card-item-tomorrow {
    background-color: #F4F4F4;    
}
.forecast-card-item-weather {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}
.forecast-card-item-weather-icon {
    width: 43%;
}
.forecast-card-item-weather-temp {
    width: 57%;
}
.forecast-card-item-weather-temp p {
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    color: #222222;
}
.forecast-card-item-weather-temp span {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #919191;
}
.forecast-card-item p {
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    color: #222222;
}
.forecast-card-item .day {
    display: inline-block;
    color: #222222;
    margin-top: 5px;
    margin-left: 10px;
}
.forecast-card-item .current {
    display: inline-block;
    background-color: #4D9335;
    border-radius: 2px;
    color: #FFFFFF;
    padding-left: 7px;
    padding-right: 7px;
    margin-left: 3px;
}
.forecast-card-item span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #222222;
    margin-left: 10px;
}
.forecast-card-item-red:before {
    position: absolute;
    content: ' ';
    background-image: url('../img/alert-red.svg');
    height: 16px;
    width: 16px; 
    margin-top: -15px;
}
.forecast-card-item-orange:before {
    position: absolute;
    content: ' ';
    background-image: url('../img/alert-orange.svg');
    height: 16px;
    width: 16px; 
    margin-top: -15px;
}
.wrapper {
    display: flex;
    margin-bottom: 36px;
}
.forecast-box .arrow {
    align-self: center;

}


/* Box Report */
.report {
    padding-bottom: 45px;
}

.report-text {
    font-size: 16px;
    line-height: 26px;
    color: #7A7A7A;
    margin-bottom: 27px;
}

/* placeholders */
.placeholder-box {
    padding: 0;
}

/* Box holiday */
h4.box-header {
    font-size: 28px;
    line-height: 38px;
    color: #222222;
    margin-bottom: 20px;
}
p.box-text {
    font-size: 16px;
    line-height: 26px;
    color: #7A7A7A;
    margin-bottom: 30px;
}
h5.holiday-header {
    font-size: 20px;
    line-height: 26px;
    color: #222222;
    margin-bottom: 15px;
}

.common-button {
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    background: #4D9335;
    border: 0;
    outline: 0;
    border-radius: 3px;
    padding: 7px 15px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.05));
}
.common:hover {
    text-decoration: none;
    color: #FFFFFF;
}

/* Box blog */

a.blog-link {
    display: block;
    font-size: 20px;
    line-height: 26px;
    color: #0645AD;
    margin-top: 30px;
    margin-bottom: 15px;
}
p.blog-text {
    font-size: 16px;
    line-height: 26px;
    color: #7A7A7A;
    margin-bottom: 27px;
}

/*  History  */
.box-history-cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: -7px;
}
.box-history-card-item {
    flex-basis: 30.5%;
    margin-top: 50px;
}
.box-history-card-item img {
    margin-bottom: 15px;
}
.box-history-card-item ul {
    margin-top: 10px;
    padding-left: 0px;
    list-style: none;
    margin-bottom: 0;
}
.history-card-name {
    font-size: 16px;
    line-height: 22px;
    color: #999999;
}
.history-card-item {
    margin-left: 0;
    font-size: 14px;
    line-height: 24px;
    color: #0645AD;
}
.history-card-item::before {
    content: "\2022";  
    color: #333333;
    font-weight: bold;
    display: inline-block; 
    margin-right: 5px;  
}

/* Footer */
.footer-row {
    margin-top: 20px;
    border-bottom: 1px solid #9A9A9A;
    padding-bottom: 20px;
}
.footer-container {
    background-color: #353A3E;
    margin-top: 28px;
    padding-bottom: 10px;
}
.footer-main {
    padding-top: 40px;
    padding-left: 0px;
}
.footer-main-content {
    display: flex;
}
.footer-main-content-1 {
    display: block;
    flex-basis: 22%;
}
.footer-main-content-2 {
    flex-basis: 21%;
}
.footer-main-content-3 {
    flex-basis: 34%;
}

.logo-footer {
    margin-top: -5px;
    margin-bottom: 20px;
    width: 134px;
    height: 62px;
    display: block;
}
.footer-img-shop {
    margin-bottom: 14px;
    width: 170px;
    height: 48px;
    display: block;
}
.footer-aside {
    flex-grow: 1;
}
.footer-aside-content {
    display: flex;
    justify-content: space-between;
}

h3.footer-header {
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    margin-bottom: 13px;
}
.footer-link {
    display: block;
    color: #9A9C9E;
    font-size: 14px;
    line-height: 34px;
    
}
.footer-link:hover, .footer-link:active, .footer-link:focus {
    color:#FFFFFF;
    text-decoration: none;
}
.footer-copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
}
.footer-copyright-text {
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    
}
.footer-menu {
    list-style: none;
    font-size: 14px;
    line-height: 19px;
    
    padding-left: 0;
    margin-top: 15px;
}
.footer-menu-item {
    display: inline;
    
    padding-right: 5px;
}
.footer-menu-link:not(:first-child):before {
    content: "|";  
    color: #9A9C9E;
    display: inline-block; 
    margin-right: 5px;
}
.footer-menu-link {
    color: #9A9C9E;
}
.footer-menu-link:hover {
    text-decoration: none;
    color:#FFFFFF;
}
.footer-social {
    padding-left: 2px;
    margin-top: 6px;
}

@media (max-width: 768px) {
    .weather-container {
        display: none;
    }
    .btn-settings {
        right: 50px;
    }
    .top-menu-search {
        display: none;
    }
    .main {
        padding-right: 0px!important;
    }
    .aside {
        flex: 0 0 100%;
        max-width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .weather-now-uv, .weather-now-holiday {
        flex-basis: 49%;
        
        margin-bottom: 17px;
    }
    .main {
        padding-right: 0px!important;
        padding-bottom: 10px;
    }
    .footer-main-content-1 {
        flex-basis: 35%;
    }
    .footer-main-content-2 {
        flex-basis: 27%;
    }
    .footer-main-content-3 {
        flex-basis: 32%;
    }
    .footer-aside-content {
        flex-wrap: wrap;
    }
}


@media (max-width: 576px) {
    .burger-group {
        display: none;
    }

}
@media (max-width: 576px) {

    .footer-copyright {
        flex-direction: column;
    }
    .footer-aside-content {
        flex-wrap: nowrap;
    }
    .footer-main-content {
        flex-wrap: wrap;
    }
    h3.footer-header {
        font-size: 16px;
        line-height: 22px;
    }
    .footer-main-content-1 {
        flex-basis: 100%;
        justify-content: center;
        margin-bottom: 20px;
    }
    .logo-footer {
        margin: 0 auto;
        margin-top: -5px;
    margin-bottom: 20px;
    }
    .footer-img-shop {
        margin: 0 auto;
        margin-bottom: 14px;
        display: block;
    }
    .footer-main-content-2 {
        flex-basis: 50%;
    }
    .footer-main-content-3 {
        flex-basis: 50%;
    }
    .footer-aside-content-1 {
        flex-basis: 50%;
    }
    .footer-aside-content-2 {
        flex-basis: 50%;
    }
}


/***********************************/
/*          +hourly.html           */
/***********************************/

.hourly-header {
    font-size: 32px;
    line-height: 41px;
    color: #222222;
    margin-top: -11px;
    margin-bottom: 0px;
}
.hourly-sub-header {
    font-size: 28px;
    line-height: 38px;
    color: #222222;
    margin-top: 0px;
    margin-bottom: 32px;
}
.hourly-info {
    background-color: #F8F8F8;
    font-size: 12px;
    line-height: 16px;
    color: #222222;
    display: flex;
    justify-content: space-between;
    margin-right: -10px;
    margin-left: -21px;
    padding: 6px 78px 6px 23px;
}
.hourly-info-item {
    display: flex;
    gap: 32px;
}
.hourly-info-item-cont span {
    font-weight: bold;
}
.hourly-details {
    margin-top: 17px;
    display: flex;
    flex-direction: row;
    margin-right: -10px;
    margin-left: -21px;
}
.hourly-details-table {
    width: 100%;
}
.hourly-details-row {
    /*display: flex;
    justify-content: space-between;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px;
    padding-right: 10px;*/
    height: 60px;
    align-items: center;
    background-color: transparent;
    border-bottom: 1px solid #F2F2F2;
}
.hourly-details-row-header {
    background-color: #F8F8F8;
}
.hourly-details-row-header-item {
    font-size: 14px;
    line-height: 19px;
    color: #222222;
    text-align: center;
}
.hourly-details-row-header-item-dark {
    background-color: #f5f5f5;
}
.hourly-details-row-item {
    position: relative;
    font-size: 14px;
    line-height: 19px;
    color: #222222;
    text-align: center;
}
.hourly-details-row-item:nth-child(4) {
    background: #f8f8f8;
}
.hourly-details-row-item:nth-child(5), .hourly-details-row-item:nth-child(10) {
    color: #00B9FF;
}
.hourly-comment {
    font-size: 10px;
    line-height: 14px;
    color: #7A7A7A;
}
.hourly-temp {
    font-weight: bold;
}
.hourly-arrow {
    position: relative;
    fill: #02B86C;
    width: 20px;
    height: 17px;
    z-index: 20;
    margin: 0 auto;
}
.hourly-arrow-white {
    fill: #FFFFFF;
}
.arrow-up {
    fill: #02B86C;
    width: 10px;
    height: 16px;
}

.arrow-down {
    fill: #909090;
    width: 10px;
    height: 16px;
    transform: rotate(180deg);
}
.rain-back {
    position: absolute;
    width: 29px;
    height: 40px;
    left: calc((100% - 29px) / 2);
    top: calc((100% - 40px) / 2);
    background: #B2B2B2;  /* поменять */
    border-radius: 5px;
}
.rain-curr {
    position: absolute;
    width: 29px;
    left: calc((100% - 29px) / 2);
    bottom: calc((100% - 40px) / 2);
    background: #00B9FF;
    border-radius: 0px 0px 5px 5px;
    z-index: 10;
}
.rain-number {
    position: relative;
    z-index: 20;
}
.rain-orange > .rain-back {
    background: #FE9900;
}
.rain-orange > .rain-curr {
    display: none;
}
.rain-orange > .rain-number {
    color: #FFFFFF;
}
.rain-red > .rain-back {
    background: #D74A4A;
}
.rain-red > .rain-curr {
    display: none;
}
.rain-red > .rain-number {
    color: #FFFFFF;
}
.wind-orange {
    position: absolute;
    width: 199px;
    height: 31px;
    top: 14px;
    left: 14px;
    z-index: 10;
    background: #FE9900;
    border-radius: 5px;
}
.wind-number {
    position: relative;
    color: #FFFFFF;
    z-index: 20;
}
.wind-red {
    position: absolute;
    width: 199px;
    height: 31px;
    top: 14px;
    left: 14px;
    z-index: 10;
    background: #D74A4A;
    border-radius: 5px;
}
.wind-brown {
    position: absolute;
    width: 199px;
    height: 31px;
    top: 14px;
    left: 14px;
    z-index: 10;
    background: #800303;
    border-radius: 5px;
}


/********************************************/
/*            History.html                  */
/********************************************/

.history-date-block {
    display: flex;
    justify-content: flex-start;
    margin: 40px 0;

}
.history-date-item {
    display: flex;
    margin-right: 5px;
    width: 220px;
    height: 54px;
    background: #FFFFFF;
    box-shadow: 0px 7px 10px rgba(34, 34, 34, 0.09);
    padding: 0;
    place-content: center;
}
.history-date-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    font-size: 24px;
    line-height: 33px;
    color: #222222;
    width: 100%;
    text-align: center;
    outline: 0;
    border: 0;
    background-image: none;
    border-bottom: 1px solid transparent;
    position: relative;
    cursor: pointer;
}
.history-date-control:hover {
    border-bottom: 1px solid #909090;
}
.history-date-option {
    font-size: 16px;
    line-height: 44px;
    text-align: center;
    color: #222222;
}






.select {
    display: block;
    max-width: 220px;
    width: 100%;
    position: relative;
    
}

.new-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    font-size: 24px;
    line-height: 33px;
    color: #222222;
    width: 100%;
    text-align: center;
    outline: 0;
    border: 0;
    background-image: none;
    border-bottom: 1px solid transparent;
    position: relative;
    cursor: pointer;
}

.new-select__list {
    position: absolute;
    top: 54px;
    left: 0;
    cursor: pointer;
    width: 100%;
    z-index: 30;
    background: #fff;
    box-shadow: 0px 7px 10px rgba(34, 34, 34, 0.09);
    user-select: none;
}

.new-select__list.on {
    display: block;
}

.new-select__item span {
    display: block;
    padding: 10px 10px;
    text-align: center;
}
.new-select__item {
    border-bottom: 1px solid #F2F2F2;
}
.new-select__item span:hover {
    background: #f8f8f8;
}

/*.new-select:after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 9px;
    top: 9px;
    background: url('path-to-image') no-repeat right center / cover;
    opacity: 0.6;

    -webkit-transition: all .27s ease-in-out;
        -o-transition: all .27s ease-in-out;
            transition: all .27s ease-in-out;

    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
}

.new-select.on:after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
}*/