

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #222222;
    background-color: #E5E5E5;
    text-align: left;
}
p {
    margin-bottom: 0;
}
section {
    margin-bottom: 20px;
}
.w1170 {
    position: relative;
    max-width: 1170px;
    padding: 0;
}
.menu-container {
    background-color: #353A3E;
}
.weather-container {
    background-color: #fff;
}
.box {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}
.menu {
    background-color: #353A3E;
    padding: 0;
}
.logo {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 2rem;
}
.top-menu-item {
    font-size: 14px;
    line-height: 19px;
    padding-right: 20px;
}
.top-menu-link {
    color: #ffffff;
}
.top-menu-link:hover {
    color: #9a9a9a;
}
.settings {
    padding-right: 10px;
}
.btn-settings {
    position: absolute;
    top: 12px;
    right: 415px;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0px 0px;
}
.search-input {
    font-size: 14px;
    line-height: 19px;
    color: #222222;
    width: 352px !important;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    background-image: url(../img/search-icon.svg);
    background-repeat: no-repeat;
    background-position: right 12px center;
}
.search-input::placeholder {
    color: #9A9A9A;
  }
.top-toggler, .top-toggler:active {
    padding: 0;
    border: 1px solid transparent;
}
.top-toggler:active, .top-toggler:focus, .top-toggler:focus-visible,
.btn-settings:active, .btn-settings:focus, .btn-settings:focus-visible {
    box-shadow: none;
    outline: none;
}
.burger {
    padding-left: 30px;
}
.settings-body {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 604px;
    height: 198px;
    background: #FFFFFF;
    box-shadow: 0px 15px 15px rgba(53, 58, 62, 0.1);
    border-radius: 5px;
    padding: 20px 40px;
}
.settings-body-item {
    margin-right: 50px;;
}
.sett {
    font-size: 14px;
    line-height: 19px;
    color: #9A9A9A;
    margin-bottom: 10px;
}
.sett-btn {
    background: #F2F2F2;
    width: 61px;
    height: 40px;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #9A9A9A;
    border: none;
}
.sett-btn-primary {
    background: #4D9335;
    color: #ffffff;
}
.sett-btn-primary:not(:disabled):not(.disabled).active:focus, 
.sett-btn-primary:not(:disabled):not(.disabled):active:focus {
    border: 1px solid transparent;
}

.sett-btn:active, .sett-btn:focus, .sett-btn:hover, 
.curr-lang:active, .curr-lang:focus, .curr-lang:hover, 
.sett-btn:not(:disabled):not(.disabled).active, 
.sett-btn:not(:disabled):not(.disabled):active {
    border: 0;
    box-shadow: none;
    border: 1px solid transparent;
    background-color: #4D9335;
}
.curr-lang::after {
    display: inline-block;
    content: "";
    background-image: url(../img/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 12px center;
}

.top-menu-search {
    position: absolute;
    top: 10px;
    right: 63px;
}
.weather-menu {
    padding: 0;
}
.weather-menu-link {
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 19px;
    color: #1F1F1F;
    padding-top: 8px;
    padding-bottom: 7px;
}
.weather-menu-link:hover {
    color: #1F1F1F; 
}
.weather-menu-link:after {
    display: block;
	position: absolute;
    bottom: 0;
	left: 0; 
	width: 0;
	height: 1px; 
	background-color: #4D9335;
	content: "";
	transition: width 0.3s ease-out;
}
.weather-menu-link:focus:after, .weather-menu-link:hover:after, .weather-menu-link:active:after {
    width: 80%;
}
.navbar-expand .navbar-nav .weather-menu-link {
    padding-left: 0;
    padding-right: 28px;
}
.weather-icon {
    padding-left: 7px;
    padding-right: 10px;
}
.city-weather {
    background: #FFFFFF;
    box-shadow: 0px 15px 15px rgba(53, 58, 62, 0.1);
    border-radius: 5px;
    width: 205px;
    padding: 0;
    margin: 3px 0 0;
}
nav.navbar .dropdown:hover > .city-weather {
    display: block; 
} 
@media only screen and (max-device-width: 992px){
    nav.navbar .dropdown:hover .city-weather {
        display: none;
    }
}
.city-weather-item {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 11px 9px 7px 9px;
    font-size: 14px;
    line-height: 19px;
    color: #353A3E;

}

.weather-divider {
    margin: 0 9px;
}
.city-weather-more {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.city-time {
    width: 62%;
}
.city-temperature {
    width: 22%;
    font-weight: bold;
}
.city-weather-icon {
    width: 16%;
}
.main-rec {
    width: 100%;
    height: 360px;
    background-color: #ffffff;
    margin-top: 20px;
    margin-bottom: 25px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.breadcrumb-item + .breadcrumb-item::before {
    display: block;
    content: ' ';
    background-image: url('../img/bread.svg');
    background-size: 8px 13px;
    height: 13px;
    width: 8px; 
    margin-right: 10px;
    margin-top: 3px;
}
.breads {
    background-color: #E5E5E5; 
    padding: 0 0 24px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #9A9A9A; 
    font-size: 14px;
    line-height: 19px;
    color: #9A9A9A; 
}
.breadcrumb-item a {
    color: #9A9A9A; 
}
.breadcrumb-item.active {
    color: #9A9A9A; 
}
.main {
    padding-right: 8px!important;
}
.aside {
    flex: 0 0 25.7%;
    max-width: 25.7%;
}
.head2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #353A3E;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(34,34,34,.1);
}
.head3 {
    font-size: 24px;
    line-height: 33px;
    color: #222222;
}
.weather-now-city {
    padding: 20px 22px 16px;
}
.weather-now-uv {
    padding: 23px 20px 24px;
    margin-bottom: 10px;
}
.progress {
    height: 16px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 19px;
    color: #9A9A9A;
    background-color: #fff;
    border-radius: .25rem;
}
.day-uv {
    width: 40px;
}
.uv-scale-hr {
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 9px;
    margin-bottom: 11px;
    border: 0;
    border-top: 1px solid rgba(34,34,34,.1);
}
.uv-scale-img {
    width: 245px;
    height: 31px;
}
.weather-now-holiday {
    padding: 23px 20px 18px;
    text-align: center;
}
.holiday-img {
    width: 242px;
    height: 84px;
}
.holiday {
    margin-top: 26px;
    margin-bottom: 0;
}
.weather-summary {
    display: flex;
    margin-top: 20px;    
}
.weather-summary-details {
    flex-grow: 1;
}
.weather-widget {
    display: flex;
    position: relative;
    padding-top: 5px;
    margin-right: 104px;
}
.weather-widget-icon {
    margin-right: 22px;
}
.weather-widget-icon p {
    font-size: 24px;
    line-height: 33px;
    color: #222222;
    padding-top: 18px;
}
.weather-widget-temperature {
    font-size: 80px;
    line-height: 69px;
    letter-spacing: -0.065em;
    color: #222222;
}
.weather-widget-temperature span {
    position: absolute;
    top: 3px;
    right: -34px;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.065em;
    color: #222222;
}
.feels {
    font-size: 14px;
    line-height: 19px;
    color: #222222;
    opacity: 0.5;
    letter-spacing: 0.3px;
    padding-top: 8px;
}
.ws-details {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-right: 7px;
}
.wind-speed {
    background-color: #F19100;
    border-radius: 2px;
    color: #ffffff;
    padding: 1px 3px;
    margin-left: 2px;
    margin-right: 4px;
}
.ws-details-item span {
    font-weight: bold;
}
.rise-set {
    display: flex;
}
.weather-summary-hr {
    margin-right: -22px;
    margin-top: 5px;
    margin-bottom: 11px;
    border: 0;
    border-top: 1px solid rgba(34,34,34,.1);
}
.ws-details {
    font-size: 14px;
    line-height: 19px;
    color: #222222;
    padding-top: 3px;
}
.ws-details-hr {
    margin-top: 7px;
    margin-bottom: 16px;
    border: 0;
    border-top: 1px solid rgba(34,34,34,.1);
}
.rise-set {
    font-size: 12px;
    line-height: 16px;
    color: #222222;
}
.rise-set span {
    font-weight: bold;
    padding-left: 3px;
}
.rise-set p {
    margin-bottom: 10px;
}
.rise {
    margin-right: 49px;
}
.rise img {
    margin-left: 5px;
}
.weather-hour {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.weather-hour-table {
    display: flex;
    justify-content: space-between;
    flex-basis: 77%;
}
.weather-hour-item {
    text-align: center;
}
.weather-hour-more {
    flex-basis: 15%;
    padding-top: 26px;
    text-align: center;
}
.weather-hour-item {
    font-size: 14px;
    line-height: 19px;
    color: #343434;
}
.weather-hour-item p {
    margin-bottom: 10px;
}
.weather-hour-item img {
    margin-bottom: 5px;
}
.weather-hour-item p:last-child {
    font-size: 16px;
    line-height: 22px;
    color: #222222
}
.weather-text {
    font-size: 16px;
    line-height: 24px;
    color: rgba(51, 51, 51, 0.6);
    margin-top: 17px;
}
@media (max-width: 768px) {
    .weather-container {
        display: none;
    }
    .btn-settings {
        right: 50px;
    }
    .top-menu-search {
        display: none;
    }
    .col-md-3 {
        flex: 0 0 25.7%;
        max-width: 25.7%;
    }
}


@media (max-width: 576px) {
    .burger-group {
        display: none;
    }

}